.team{
    padding-block-end: 160px;
    .team__titel{
        font-family: 'Oswald';
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 71px;
        letter-spacing: 3.072px;
        color: #252525;
        padding-block-end: 74px;
    }
    .team__box{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
        gap: 20px;
        .team__card{
            max-width: 379px;
            position: relative;
            &::after{
                content: "";
                display: block;
                background: #FFFFFF;
                mix-blend-mode: normal;
                opacity: 0.5;
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 100px;
            }
            .team__img{
                $n: 1;
                $d: 1;
                aspect-ratio: $n / $d;
                overflow: hidden;
                display: flex;
                justify-content: center;
                align-items: center;
                img{
                    inline-size: 100%;
                    block-size: 100%;
                    object-fit: cover;
                }
            }
            .team__info{
                font-family: 'Oswald';
                font-style: normal;
                font-weight: 300;
                font-size: 18px;
                line-height: 27px;
                letter-spacing: 1.152px;
                color: #252525;       
                position: relative;
                top: -50px;
                left: 120px;
                z-index: 20;
            }
        }
    }
}