.work{
    padding-block: 140px;
    .work__box{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .box-left{
            flex-basis: 0;
            flex-grow: 999;
            min-inline-size: 50%;
        }
        .box-right{
            flex-basis: 500px;
            flex-grow: 1;
        }
    }
}

.work__titel{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 71px;
    letter-spacing: 3.072px;
    color: #252525;
    padding-block-end: 60px;
}


.work__nav{
    display: flex;
    gap: 40px;
    padding-block-end: 140px;
    .work__item{
    font-family: 'OpenSans';
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.832px;
    color: #252525;
    opacity: 0.3;
    }
}



.work__card{
    max-inline-size: 455px;
    position: relative;
    .card__img{
        $n: 1;
        $d: 1;
        aspect-ratio: $n / $d;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-block-end: 20px;
        img{
            inline-size: 100%;
            block-size: 100%;
            object-fit: cover;
        }
    }
    .img__name{
        font-family: 'Oswald';
        font-style: normal;
        font-weight: 300;
        font-size: 48px;
        line-height: 71px;
        letter-spacing: 3.072px;
        color: #252525;            
        position:absolute;

        text-decoration: line-through 3px hsla(122, 38%, 59%, 1);
    }
    .card__titel{
        font-family: 'OpenSans';
        font-size: 18px;
        line-height: 21px;
        text-align: center;
        letter-spacing: 1.152px;
        color: #252525;    
        padding-block-end: 20px;    
    }
    .card__text{
        font-family: 'OpenSans';
        font-size: 13px;
        line-height: 23px;
        letter-spacing: 0.832px;
        color: #C2C2C2;
        padding-inline-start: 37%;
        padding-block-end: 20px;
    }
    .card__btn{
        font-family: 'OpenSans';
        font-size: 13px;
        line-height: 15px;
        letter-spacing: 0.832px;
        color: #252525;
        text-decoration: line-through 3px hsla(122, 38%, 59%, 1);
        background-color: transparent;
        border: none;
        cursor: pointer;
        margin-left: auto;
        padding-inline-start: 37%;
    }
}


.img__name:where(.left){
    top: 220px;
    right: -170px;
}

.img__name:where(.right){
    top: 220px;
    left: -170px;
}

